<div class="main-wrap">
    <!-- section main content -->
    <section id="main-content">
        <div class="content-wrap">
            <p style="background: #333399;text-align: center; color: #ffff33;font-size:12px;letter-spacing: 1px; padding: 5px;">
                Call Medical Emergency : 1-800-432-5378</p>
        </div>


        <!-- wrapper -->
        <div class="wrapper" style="padding: 50px 200px 50px 200px;">

            <div class="row">
                <div class="col-xs-4" style="margin-left: 250px">
                    <div id="login-box" class="col-md-12">
                        <h3 class="text-center text-info">Search Member</h3>
                        <div class="form-group">
                            <label for="username" class="text-info">Member ID:</label><br>
                            <input type="text" name="memberID" id="memberID" class="form-control" [(ngModel)]="memberId">
                        </div>
                        <div class="form-group">
                            <label for="username" class="text-info">First Name:</label><br>
                            <input type="text" name="firstName" id="firstName" class="form-control" [(ngModel)]="firstName">
                        </div>
                        <div class="form-group">
                            <label for="username" class="text-info">Last Name:</label><br>
                            <input type="text" name="lastName" id="lastName" class="form-control" [(ngModel)]="lastName">
                        </div>

                        <div class="form-group" style="margin-left: 70px">
                            <input type="submit" id="searchBtn" name="submit" class="btn btn-info btn-md" value="Search" (click)="listData()">
                            <input type="submit" id="clearBtn" name="submit" class="btn btn-info btn-md" value="Clear" (click)="clearAll()">
                        </div>
                    </div>
                </div>
            </div>


            <!-- if list of accounts found based on name search -->
            <div class="col-xs-12" style="border: 3px solid #ccc;" id="accountlist">
                <br>

                <p class="accordion" style="text-align: center; color: #000; font-weight: 700">
                    Accounts
                </p>
                <div class="panel">
                    <table datatable [dtTrigger]="dtTrigger" style="width:100%; float: left" id="accountslist" class="display">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>MemberID__c</th>
                                <th>FirstName</th>
                                <th>LastName</th>
                                <th>Phone</th>
                                <th>MobilePhone</th>
                                <th>OtherPhone</th>
                                <th>Email</th>
                                <th>BirthDate</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let data of returnedArray; let i of index;'>
                                <td>{{data.Id}}</td>
                                <td (click)="loadDetails(data.MemberID__c, data.Id)" class="memberID">{{data.MemberID__c}}</td>
                                <td>{{data.FirstName}}</td>
                                <td>{{data.LastName}}</td>
                                <td>{{data.Phone}}</td>
                                <td>{{data.MobilePhone}}</td>
                                <td>{{data.OtherPhone}}</td>
                                <td>{{data.Email}}</td>
                                <td>{{data.BirthDate}}</td>
                            </tr>
                        </tbody>

                    </table>
                </div>

            </div>
            <br>
            <br>

            <div class="col-xs-12" style="border: 3px solid #ccc;" id="details">
                <br>

                <div class="row" *ngIf="membershipDetails.length">
                    <div class="col-xs-4">
                        <table style="width:200px; border: 1px solid #cccccc; ">
                            <thead>
                                <tr>
                                    <th style="text-align: center; background: #cccccc;padding: 5px;">Member ID</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align: center;">{{membershipDetails[0].MemberID__c}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-xs-4">
                        <table style="width:200px; border: 1px solid #cccccc;">
                            <thead>
                                <tr>
                                    <th style="text-align: center; background: #cccccc;padding: 5px;">Membership Name
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align: center; font-weight: 700">{{membershipDetails[0].ServiceEntitlementName__c}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-xs-4">
                        <table style="width:200px; border: 1px solid #cccccc;">
                            <thead>
                                <tr>
                                    <th style="text-align: center; background: #cccccc;padding: 5px;">Expiry Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align: center; font-weight: 700">{{membershipDetails[0].c4g_LatestMembershipEndDate__c}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br><br><br>
                <!---- First Acc --->
                <p class="accordion" style="color: #000; font-weight: 700">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Member Information &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contact Information

                </p>
                <div class="panel">
                    <table style="width:100%; float: left" *ngIf="membershipDetails.length && contactRelation.length">
                        <tr style="border: 1px solid #ccc;">
                            <th style="border: 1px solid #ccc; padding: 5px;">Customer ID</th>
                            <td style="border: 1px solid #ccc; padding: 5px 10px;"></td>
                            <th style="border: 1px solid #ccc; padding: 5px;">Relationship ID</th>
                            <td style="border: 1px solid #ccc; padding: 5px 10px;">{{contactRelation[0].ID}}</td>
                        </tr>
                        <tr style="border: 1px solid #ccc;">
                            <th style="border: 1px solid #ccc; padding: 5px;">Name</th>
                            <td style="border: 1px solid #ccc; padding: 5px 10px;">{{membershipDetails[0].FirstName}} {{membershipDetails[0].LastName}}</td>
                            <th style="border: 1px solid #ccc; padding: 5px;">Related Contact ID</th>
                            <td style="border: 1px solid #ccc; padding: 5px 10px;">{{contactRelation[0].npe4__RelatedContact__c}}</td>
                        </tr>
                        <tr style="border: 1px solid #ccc;">
                            <th style="border: 1px solid #ccc; padding: 5px;">Age & Gender</th>
                            <td style="border: 1px solid #ccc; padding: 5px 10px;">{{membershipDetails[0].Gender__c}}</td>
                            <th style="border: 1px solid #ccc; padding: 5px;">Status:</th>
                            <td style="border: 1px solid #ccc; padding: 5px 10px;">{{contactRelation[0].npe4__Status__c}}</td>
                        </tr>
                        <tr style="border: 1px solid #ccc;">
                            <th style="border: 1px solid #ccc; padding: 5px;">Address</th>
                            <td style="border: 1px solid #ccc; padding: 5px 10px;">{{membershipDetails[0].MailingStreet}},{{membershipDetails[0].MailingCity}}<br> {{membershipDetails[0].MailingState}} {{membershipDetails[0].MailingPostalCode}}</td>
                            <th style="border: 1px solid #ccc; padding: 5px;">Type</th>
                            <td style="border: 1px solid #ccc; padding: 5px 10px;">{{contactRelation[0].npe4__Type__c}}</td>
                        </tr>
                        <tr style="border: 1px solid #ccc;">
                            <th style="border: 1px solid #ccc; padding: 5px;">Mobile</th>
                            <td style="border: 1px solid #ccc; padding: 5px 10px;">{{membershipDetails[0].MobilePhone}}</td>
                            <th style="border: 1px solid #ccc; padding: 5px;">Address</th>
                            <td style="border: 1px solid #ccc; padding: 5px 10px;"></td>
                        </tr>
                        <tr style="border: 1px solid #ccc;">
                            <th style="border: 1px solid #ccc; padding: 5px;">Phone</th>
                            <td style="border: 1px solid #ccc; padding: 5px 10px;"></td>
                            <th style="border: 1px solid #ccc; padding: 5px;">Mobile</th>
                            <td style="border: 1px solid #ccc; padding: 5px 10px;"></td>
                        </tr>
                        <tr style="border: 1px solid #ccc;">
                            <th style="border: 1px solid #ccc; padding: 5px;">Fax</th>
                            <td style="border: 1px solid #ccc; padding: 5px 10px;"></td>
                            <th style="border: 1px solid #ccc; padding: 5px;">Phone</th>
                            <td style="border: 1px solid #ccc; padding: 5px 10px;"></td>
                        </tr>
                        <tr style="border: 1px solid #ccc;">
                            <th style="border: 1px solid #ccc; padding: 5px;">Email ID</th>
                            <td style="border: 1px solid #ccc; padding: 5px 10px;">{{membershipDetails[0].Email}}</td>
                            <th style="border: 1px solid #ccc; padding: 5px;">Work Phone / Other</th>
                            <td style="border: 1px solid #ccc; padding: 5px 10px;">{{membershipDetails.npe01__WorkPhone__c}}</td>
                        </tr>
                        <tr style="border: 1px solid #ccc;">
                            <th style="border: 1px solid #ccc; padding: 5px;">Date of Birth</th>
                            <td style="border: 1px solid #ccc; padding: 5px 10px;">{{membershipDetails[0].BirthDate}}</td>
                            <th style="border: 1px solid #ccc; padding: 5px;">Email</th>
                            <td style="border: 1px solid #ccc; padding: 5px 10px;"></td>
                        </tr>
                    </table>
                </div>
                <!--  End/ First Acc----->

                <!---- Second Acc --->
                <p class="accordion" style="text-align: center; color: #000; font-weight: 700">
                    Contact Coditions / Attachments
                </p>
                <div class="panel">
                    <table style="width:100%; float: left">
                        <tr style="border: 1px solid #ccc;">
                            <th style="border: 1px solid #ccc; padding: 5px;text-align: center">Name</th>
                            <th style="border: 1px solid #ccc; padding: 5px 10px;text-align: center">Reactions</th>
                            <th style="border: 1px solid #ccc; padding: 5px;text-align: center">Attachment ID</th>
                            <th style="border: 1px solid #ccc; padding: 5px 10px;text-align: center">Attachment Title
                            </th>
                        </tr>
                        <tr style="border: 1px solid #ccc;" *ngFor='let attachment of attachmentDetails;'>
                            <th style="border: 1px solid #ccc; padding: 5px;">{{attachment.Name}}</th>
                            <td style="border: 1px solid #ccc; padding: 5px 10px;"></td>
                            <th style="border: 1px solid #ccc; padding: 5px;text-align: center">{{attachment.Id}}</th>
                            <td style="border: 1px solid #ccc; padding: 5px 10px;text-align: center">
                                <a href="#"></a>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--  End/ Second Acc----->



                <!---- Third Acc --->
                <p class="accordion" style="text-align: center; color: #000; font-weight: 700">
                    Assets
                </p>
                <div class="panel">
                    <table datatable [dtTrigger]="dtAssetTrigger" style="width:100%; float: left" id="assets">
                        <thead>
                            <tr style="border: 1px solid #ccc;">
                                <th style="border: 1px solid #ccc; padding: 5px;text-align: center">Name</th>
                                <th style="border: 1px solid #ccc; padding: 5px 10px;text-align: center">Engraving</th>
                                <th style="border: 1px solid #ccc; padding: 5px;text-align: center">Purchase Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="border: 1px solid #ccc;" *ngFor='let asset of assetDetails;'>
                                <td style="border: 1px solid #ccc; padding: 5px;">{{asset.Name}}</td>
                                <td style="border: 1px solid #ccc; padding: 5px 10px;text-align: center">{{asset.maf_EngraveLine__c}}</td>
                                <td style="border: 1px solid #ccc; padding: 5px;text-align: center">{{asset.PurchaseDate}}</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <!--  End/ Third Acc----->



            </div>
        </div>

    </section>
</div>
<div id="overlay" *ngIf="isLoading">
    <div id="loader">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
</div>