<!-- header -->
<header>
    <!-- top area -->
    <div class="top-nav">
        <div class="wrapper">
            <div class="logo">
                <a href="index.html">
                    <!-- your logo image -->
                    <img src="../../assets/logo.png" alt="" width="240px" height="35px" />
                </a>
            </div>

            <div class="phone">
                <p>Medical Alert Foundation</p>
                <p>101 Lander Ave, Turlock, CA 95380</p>
            </div>
        </div>
    </div>
    <!-- end top area -->
</header>
<!-- end of header-->